//font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
//colors
body {
  margin: 0;
  padding: 0;
}
//main
main {
  width: 1440px;
}

//content
.content {
  $main_text_color: #121212;
  $button_background_color: #e4c1ae;
  $button_text_color: #ffffff;
  //text
  &-text {
    font-family: "Roboto";
    font-style: normal;
    //title section styles
    &-title {
      color: $main_text_color;
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
    }
    //description styles
    &-desc {
      color: $main_text_color;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
    }
    &-button {
      color: $button_text_color;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
    }
  }
  //button
  &-button {
    width: 128px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;
    border-radius: 32px;
    background: $button_background_color;
    border: none;
    cursor: pointer;
  }
}

.popup {
  $popup_dark_color: #121212;
  $popup_background: white;
  &-dark {
    height: 100vh;
    width: 100vw;
    opacity: 50%;
    background-color: $popup_dark_color;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-container {
    position: absolute;
    background-color: white;
    z-index: 102;
    padding-left: 2rem;
    padding-right: 2rem;
    &-title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
      font-weight: bold;
    }
    &-message {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
    }
    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &-clear {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    img {
      height: 50px;
      width: 50px;

      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1440px) {
  main {
    width: 1440px;
  }
  .popup {
    &-container {
      top: calc(50% - 105px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 920px;
      height: 210px;
    }
  }

  .container {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  img {
    width: 505px;
    height: 330px;
  }
  .content {
    width: 380px;
    height: 250px;
  }
}

@media only screen and (max-width: 1439px) and (min-width: 960px) {
  main {
    width: 100vw;
  }
  .popup {
    &-container {
      top: calc(50% - 105px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 820px;
      height: 210px;
    }
  }
  .container {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  img {
    max-width: 505px;
    height: 330px;
  }
  .content {
    width: 380px;
    height: 250px;
  }
}

@media only screen and (max-width: 959px) {
  main {
    width: 100vw;
  }

  .popup {
    &-container {
      top: calc(50% - 105px);
      left: 50%;
      transform: translate(-50%, 0);
      width: 80%;
      height: 210px;
    }
  }
  .container {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  img {
    width: 100vw;
    height: 330px;
  }
  .content {
    margin: 1rem;
    width: calc(100vw-2rem);
    height: 250px;
  }
}
